:root {
  --main-color: #FAF1E1;
  --login-body: #1A1C1E; 
  --main-black: #0B0A08;
  --input-black: #373740;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Oxanium', 'Montserrat', 'Arial', 'sans-serif';
  background-color: var(--main-color);
  color: var(--main-color);
}

button {
  font-family: 'Oxanium', 'Montserrat', 'Arial', 'sans-serif';
  font-size: 1rem;
  cursor: pointer;
}

.add-users {
  padding: 10px 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  position: fixed;
  right: 20px;
  bottom: 10px;
  border: none;
}

.add-users img {
  max-width: 50px;
}