main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding-top: 70px;
  color: black;
}

#search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10px;
  width: 100%;
  gap: 35px;
}

#search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid var(--main-color);
  padding: 10px 20px;
  border-radius: 20px;
  gap: 10px;
  width: 35%;
}

#search-input {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  width: 100%;
  z-index: 1;
}

#search-input:focus {
  outline: none;
}

#search-icon{
  max-width: 20px;
}

#search-button {
  border: none;
  background-color: var(--main-black);
  padding: 10px 20px;
  color: var(--main-color);
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
}

.posts, .results {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.results {
  border-radius: 20px;
  gap: 30px;
  width: 65%;
  padding: 20px 20px;
}

.posts {
  border-radius: 15px;
  padding: 20px 20px 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

.operations {
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 5px;
}

.options {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.options > * {
  cursor: pointer;
}

.feed-button {
  border: none;
  width: 100%;
  height: 100%;
  padding-block: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 15px;
  background-color: transparent;
}

.options:hover {
  border-radius: 10px;
  background-color: rgba(136, 132, 132, 0.1);
  cursor: pointer;

}

.options img {
  max-width: 20px;
}

#go-back {
  margin-top: 50px;
  color: var(--main-black);
  padding: 10px 20px;
  font-size: 1.3rem;
  cursor: pointer;
  border: 1px solid var(--main-black);
  border-radius: 20px;
  background-color: transparent;
  transition: all 0.3s;
}

#go-back:hover {
  background-color: var(--main-black);
  color: var(--main-color);
}