section {
  background-color: white;
  width: 60%;
  border-radius: 20px;
  padding: 20px;
}

#edit-post {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.top-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#reset {
  background-color: transparent;
  border: none;
  max-width: 30px;
}

.reset-icon {
  width: 100%;
}

#edit-input {
  width: 100%;
  max-width: 100%;
  min-height: 250px;
  resize: none;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-block: 20px;
  font-family: inherit; 
  font-size: inherit; 
  line-height: inherit;
}

#edit-input:focus-visible {
  outline: none;
}

.bottom-section {
  display: flex;
  gap: 20px;
  width: 100%;
}

#save, #cancel-link {
  padding: 10px 20px;
  width: fit-content;
  flex-basis: 100%;
  background-color: transparent;
  border-radius: 20px;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

#cancel-button {
  border: none;
  width: 100%;
  background-color: transparent;
  color: inherit;
  margin: 0 auto;
}

#cancel-link {
  background-color: red;
  border: 1px solid red;
  color: var(--main-color);  
}

#cancel-link:hover {
  background-color: transparent;
  color: var(--main-black);
}

#save:hover {
  background-color: var(--main-black);
  color: var(--main-color);
}


